
body{
    background-color: dimgrey;
}
.nav1{
    background-color: black;
    width: 99%;
    height: 250px;
    border-radius: 50px;
    margin: 10px;
    padding: ;
}
#potu{
    font color: #000;

}